


<div class="row spacer">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <h2>Search for a title</h2>
            </div>
        </div>

        <div class="row spacer">
            <div class="col-md-4">
                <input id="title" style="margin-top:5px" placeholder="Casablanca, All, a, etc" required />
            </div>
            <div class="col-md-8">
                <button id="btnSearch" type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>


        <div class="row spacer">
            <div class="col-md-12">
                <div id="titleArea">
                    <div class="row"><div class="col-md-6"><h3>Titles</h3></div><div class="col-md-6"></div></div><hr />
                    <div id="titles" style="overflow-y:scroll;overflow-x:hidden;height:200px">No results...</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">        
        
        <div id="detailsArea">
            <h3>Title Details</h3>
            <div id="details" class="spacer">No title selected...</div>
        </div>
        
    </div>
</div>

<script>

    $(function () {
        
        $("#btnSearch").click(function () {
            var title = $("#title").val();            
            $("#titles").empty();
            $("#details").text("No title selected...");
            $
            $.ajax({
                url: 'http://localhost:63809/api/Titles/GetAllTitles?title=' + title,
                type: 'get',
                datatype: 'json',
                success: function (data, textstatus, xhr) {                    
                    $.each(data, function (c) {                                             
                        $("#titles").prepend($('<div class="row"><div class="col-md-6"><a style="cursor:pointer;cursor:hand" onclick="getDetails(' + data[c].TitleID + ')">' + data[c].TitleName + '</a> (' + data[c].ReleaseYear + ')</div><div class="col-md-6"></div></div><br /> '));
                    })                    
                },
                error: function (xhr, textstatus, errorthrown) {
                    console.log('error in operation');
                }
            });            
        })        
    });

    function getDetails(id) {
        $("#details").empty();
        $.ajax({
            url: 'http://localhost:63809/api/Titles/GetTitleDetails?id=' + id,
            type: 'get',
            datatype: 'json',
            success: function (data, textstatus, xhr) {

                var genres = "";
                $.each(data.Genres, function (c) { 
                    console.log(data.Genres[c]);
                    if (c > 0)
                        genres += ", ";
                    genres += data.Genres[c];
                });
               
                $("#details").append($('<div class="row"><div class="col-md-3">Title:</div><div class="col-md-9"><span style="color:red">' + data.TitleName + '</span></div></div><br />'));
                $("#details").append($('<div class="row"><div class="col-md-3">Release Year:</div><div class="col-md-9">' + data.ReleaseYear + '</div></div><br />'));
                $("#details").append($('<div class="row"><div class="col-md-3">Genres:</div><div class="col-md-9">' + genres  + '</div></div><br />'));
                
                
             },
            error: function (xhr, textstatus, errorthrown) {
                console.log('error in operation');
            }
        });
    }

</script>